[submodule "candle-gcu"]
	path = candle-gcu
	url = git@git.enflame.cn:era/candle-gcu.git
	ignore = dirty
[submodule "candle-vllm"]
	path = candle-vllm
	url = git@github.com:guoqingbao/candle-vllm.git
	ignore = dirty
	branch = enflame
[submodule "candle-vllm-demo"]
	path = candle-vllm-demo
	url = git@github.com:guoqingbao/candle-vllm-demo.git
	ignore = dirty
