[submodule "candle-gcu"]
	path = candle-gcu
	url = git@git.enflame.cn:era/candle-gcu.git
	ignore = dirty
[submodule "candle-vllm"]
	path = candle-vllm
	url = git@git.enflame.cn:guoqing.bao/candle-vllm.git
	ignore = dirty
	branch = main
