[submodule "candle-gcu"]
	path = candle-gcu
	url = git@git.enflame.cn:era/candle-gcu.git
	ignore = dirty
[submodule "candle-vllm"]
	path = candle-vllm
	url = git@github.com:guoqingbao/candle-vllm.git
	ignore = dirty
	branch = enflame
[submodule "candle-paged-attention"]
	path = candle-paged-attention
	url = git@git.enflame.cn:guoqing.bao/candle-paged-attention.git
	ignore = dirty
[submodule "ChattierGPT-UI"]
	path = ChattierGPT-UI
	url = git@github.com:guoqingbao/ChattierGPT-UI.git
	ignore = dirty
